<nz-layout class="layout-outer">

    <header class="header header-transparent">
        <div class="container">
            <div class="header-inner">
                <div routerLink="/" class="logo">
                    HomeFit
                </div>
                <nav>
                    <a routerLink="activity" class="nav-link">Activity</a>
                    <a routerLink="history" class="nav-link">History</a>
                    <a href="" class="nav-link">Log out</a>
                </nav>
            </div>
        </div>
    </header>

    <section class="intro">
        <div class="container">
            <div class="intro-inner">
                <div class="content">
                    <div class="intro-text-block">
                        <h3 nz-typography>HomeFit</h3>
                        <h1 nz-typography>Workout anywhere</h1>
                        <p>Personalized Feedback and Insights for Next-Level Training. Maximize your potential with our advanced ML technology, user-friendly interface, and tailored analysis. Elevate your workouts and achieve your fitness goals like never before.</p>
                    </div>
                    <button class="btn btn-transparent btn-size-5">Sign up</button>
                </div>
            </div>
            <div class="block-pagination-row">
                <div class="block-pagination-item">1</div>
            </div>
        </div>
        <div class="background">
            <div class="fade"></div>
        </div>
    </section>

    <section class="history">
        <div class="container">
            <div class="history-inner">
                <div class="history-text-block">
                    <h1 nz-typography>Mobile application</h1>
                    <p>Unleash Your Potential with Our Powerful Mobile Application. Experience the ultimate training companion that combines personalized workouts, real-time feedback, and intuitive tracking to propel you towards your goals. Download now and take the first step towards a stronger, fitter, and healthier you.</p>
                    <button class="btn btn-transparent btn-size-5">Download</button>
                </div>
                <img src="/assets/images/landing/mobile.png" alt="">
            </div>
            <!--        <div class="block-pagination-row">-->
            <!--            <div class="block-pagination-item">2</div>-->
            <!--        </div>-->
            <div class="background">
                <div class="fade-1"></div>
            </div>
        </div>
    </section>

    <nz-footer>HomeFit ©2023</nz-footer>

</nz-layout>
