<div class="default-content history-item-outer">

    <div class="video-block">
        <video #videoPlayer [src]="videoSource" controls class="video"
               (loadedmetadata)="handleMetadata($event, videoPlayer)"
               (error)="handleError($event, videoPlayer)">
            Your browser does not support HTML5 video.
        </video>
    </div>

    <div class="history-results">
        <div class="block exercise-info">
        </div>
        <div class="block">
            2
        </div>
        <div class="block">
            3
        </div>
        <div class="block">
            4
        </div>
        <div class="block">
            5
        </div>
        <div class="block">
            6
        </div>
    </div>
</div>
