@import "/src/styles/base/variables";
@import "/src/styles/layout/default-sections";
@import "/src/styles/components/block";

.video-block {
  video {
    width: 100%;
    max-height: 70vh;
    background: #000;
    border-radius: $border-radius-1;
  }
}

.history-results {
  margin-top: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 24px;
}

.block {
  min-height: 200px;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  h1 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  p {
    font-size: 14px;
    color: #666;
  }
}

/* Statistics */
.statistic-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  .statistic-title {
    color: rgba(0, 0, 0, 0.45);
    font-size: 1.2rem;
    text-align: center;
  }

  .statistic-content {
    display: flex;
    align-items: center;

    .statistic-icon {
      font-size: 2.5rem;
      margin-right: 5px;
    }

    .statistic-text {
      font-size: 3rem;
      margin: 0;
    }
  }
}
