<div class="default-content history-item-outer">

    <div class="video-block">
        <video #videoPlayer [src]="videoSource" controls class="video"
               (loadedmetadata)="handleMetadata($event, videoPlayer)"
               (error)="handleError($event, videoPlayer)">
            Your browser does not support HTML5 video.
        </video>
    </div>

    <div class="history-results">
        <div class="block statistic-item">
            <div class="statistic-title">
                Exercise
            </div>
            <div class="statistic-content">
                <div class="statistic-text">
                    {{ historyItemData.exercise }}
                </div>
            </div>
        </div>
        <div class="block statistic-item">
            <div class="statistic-title">
                Count
            </div>
            <div class="statistic-content">
                <span nz-icon nzType="number" class="statistic-icon"></span>
                <span class="statistic-text">
                    {{ historyItemData.count }}
                </span>
            </div>
        </div>
        <div class="block statistic-item">
            <div class="statistic-title">
                Accuracy
            </div>
            <div class="statistic-content">
                <span nz-icon nzType="percentage" class="statistic-icon"></span>
                <span class="statistic-text">
                    {{ historyItemData.count }}
                </span>
            </div>
        </div>
        <div class="block statistic-item">
            <div class="statistic-title">
                Calories
            </div>
            <div class="statistic-content">
                <span nz-icon nzType="fire" class="statistic-icon"></span>
                <span class="statistic-text">
                    {{ historyItemData.count }}
                </span>
            </div>
        </div>
    </div>
</div>
