@import '../../../../../styles/base/variables';

.signup-outer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 150px;
}

.signup-form {
  border-radius: $border-radius-1;
  padding: 30px;
  background: #fff;
  width: 400px;
}

.signup-button {
  width: 100%;
}
