@import "/src/styles/components/block";
@import "/src/styles/layout/default-sections";

.profile {
  display: grid;grid-template-columns: 10fr 6fr 6fr;
  grid-gap: 24px;
  padding-bottom: 24px;
}

.block {
  padding: 24px;
}

.personal-info {
  display: flex;
  flex-direction: column;
}

.personal-info-item {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;

  &:last-child {
    margin: 0;
  }

  span {
    margin-left: 10px;
  }

  .personal-info-title {
    color: rgba(0, 0, 0, 0.5);
  }

}

::ng-deep .personal-info > .ant-divider {
  margin: 12px 0;
}

/* Statistics */
.statistic-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .statistic-title {
    color: rgba(0, 0, 0, 0.45);
    font-size: 1.2rem;
    text-align: center;
  }

  .statistic-content {
    display: flex;
    align-items: center;

    .statistic-icon {
      font-size: 2.5rem;
      margin-right: 5px;
    }

    .statistic-text {
      font-size: 3rem;
      margin: 0;
    }
  }
}
