@import "/src/styles/base/variables";
@import "/src/styles/layout/default-sections";
@import "/src/styles/layout/loading";

.history-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 24px;
}
